<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="post">
            <a href="/post/<%= article.slug %>">
            <h3 class="post-title"><%= article.title %> </h3>
            </a>

            <p><%= article.intro %></p>

            <div class="meta">
                Rehan Manzoor at <time><%= article.created_at %></time>
            </div>

        </div>
        <hr>
    </div>
</div>