<div class="container-fluid">
    <header class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="hero">
                    <div class="col-lg-4 col-lg-offset-4 text-center">
                        <div class="avtar">
                            <img src="/assets/images/rummykhan.jpg" title="Rehan Manzoor (rummykhan)" alt="Rehan Manzoor (rummykhan)">
                        </div>
                        <h1>Rehan Manzoor</h1>
                        <p>
                            PHP / Laravel Developer &amp; MongoDB Admin at
                            <a href="http://www.infamous.ae" target="_blank">www.infamous.ae</a>
                            &nbsp; • Masters in CS • Python &amp; Info Sec Lover
                        </p>
                    </div>
                </div>
            </div>
            <%- include('links') %>
        </div>
    </header>
</div>