<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="metabar">
                    <a href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                    <span>
                        <img class="avatar" src="http://rehanmanzoor.me/assets/images/rummykhan.jpg"
                             title="Rehan Manzoor (rummykhan)"/>
                        <%= article.user.name %> at <%= article.created_at.toLocaleString() %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>